In [1]:
import pandas as pd
import numpy as np

In [6]:
# DataFrame is a tabular data structure

# create DataFrame from a dictionary of lists
data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
        'team': ['Bears', 'Bears', 'Bears', 'Packers', 'Packers', 'Lions', 'Lions', 'Lions'],
        'wins': [11, 8, 10, 15, 11, 6, 10, 4],
        'losses': [5, 8, 6, 1, 5, 10, 6, 12]}

football = pd.DataFrame(data, columns=['year', 'team', 'wins', 'losses'])
football

   year     team  wins  losses
0  2010    Bears    11       5
1  2011    Bears     8       8
2  2012    Bears    10       6
3  2011  Packers    15       1
4  2012  Packers    11       5
5  2010    Lions     6      10
6  2011    Lions    10       6
7  2012    Lions     4      12

In [9]:
!head -n 5 dataset/mariano-rivera.csv

Year,Age,Tm,Lg,W,L,W-L%,ERA,G,GS,GF,CG,SHO,SV,IP,H,R,ER,HR,BB,IBB,SO,HBP,BK,WP,BF,ERA+,WHIP,H/9,HR/9,BB/9,SO/9,SO/BB,Awards
1995,25,NYY,AL,5,3,.625,5.51,19,10,2,0,0,0,67.0,71,43,41,11,30,0,51,2,1,0,301,84,1.507,9.5,1.5,4.0,6.9,1.70,
1996,26,NYY,AL,8,3,.727,2.09,61,0,14,0,0,5,107.2,73,25,25,1,34,3,130,2,0,1,425,240,0.994,6.1,0.1,2.8,10.9,3.82,CYA-3MVP-12
1997,27,NYY,AL,6,4,.600,1.88,66,0,56,0,0,43,71.2,65,17,15,5,20,6,68,0,0,2,301,239,1.186,8.2,0.6,2.5,8.5,3.40,ASMVP-25
1998,28,NYY,AL,3,0,1.000,1.91,54,0,49,0,0,36,61.1,48,13,13,3,17,1,36,1,0,0,246,233,1.060,7.0,0.4,2.5,5.3,2.12,

In [10]:
# read from csv
from_csv = pd.read_csv('dataset/mariano-rivera.csv')
from_csv.head()

,Year,Age,Tm,Lg,W,L,W-L%,ERA,G,GS,...,WP,BF,ERA+,WHIP,H/9,HR/9,BB/9,SO/9,SO/BB,Awards
0,1995,25,NYY,AL,5,3,0.625,5.51,19,10,...,0,301,84,1.507,9.5,1.5,4.0,6.9,1.70,NaN
1,1996,26,NYY,AL,8,3,0.727,2.09,61,0,...,1,425,240,0.994,6.1,0.1,2.8,10.9,3.82,CYA-3MVP-12
2,1997,27,NYY,AL,6,4,0.600,1.88,66,0,...,2,301,239,1.186,8.2,0.6,2.5,8.5,3.40,ASMVP-25
3,1998,28,NYY,AL,3,0,1.000,1.91,54,0,...,0,246,233,1.060,7.0,0.4,2.5,5.3,2.12,NaN
4,1999,29,NYY,AL,4,3,0.571,1.83,66,0,...,2,268,257,0.884,5.6,0.3,2.3,6.8,2.89,ASCYA-3MVP-14

In [14]:
# for csv with no headers
cols = ['num', 'game', 'date', 'team', 'home_away', 'opponent',
        'result', 'quarter', 'distance', 'receiver', 'score_before',
        'score_after']
no_headers = pd.read_csv('dataset/peyton-passing-TDs-2012.csv', header=None, names=cols)
no_headers.head(10)

,num,game,date,team,home_away,opponent,result,quarter,distance,receiver,score_before,score_after
0,1,1,2012-09-09,DEN,NaN,PIT,W 31-19,3,71,Demaryius Thomas,Trail 7-13,Lead 14-13*
1,2,1,2012-09-09,DEN,NaN,PIT,W 31-19,4,1,Jacob Tamme,Trail 14-19,Lead 22-19*
2,3,2,2012-09-17,DEN,@,ATL,L 21-27,2,17,Demaryius Thomas,Trail 0-20,Trail 7-20
3,4,3,2012-09-23,DEN,NaN,HOU,L 25-31,4,38,Brandon Stokley,Trail 11-31,Trail 18-31
4,5,3,2012-09-23,DEN,NaN,HOU,L 25-31,4,6,Joel Dreessen,Trail 18-31,Trail 25-31
5,6,4,2012-09-30,DEN,NaN,OAK,W 37-6,1,22,Joel Dreessen,Tied 0-0,Lead 7-0*
6,7,4,2012-09-30,DEN,NaN,OAK,W 37-6,3,17,Eric Decker,Lead 10-6,Lead 17-6
7,8,4,2012-09-30,DEN,NaN,OAK,W 37-6,3,14,Lance Ball,Lead 24-6,Lead 31-6
8,9,5,2012-10-07,DEN,@,NWE,L 21-31,2,1,Joel Dreessen,Trail 0-7,Tied 7-7
9,10,5,2012-10-07,DEN,@,NWE,L 21-31,3,2,Eric Decker,Trail 7-31,Trail 14-31